<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/index/assets/css/bootstrap.min.css}"  rel="stylesheet" />
    <link th:href="@{/index/assets/css/paper-kit.css}"  rel="stylesheet"/>
    <link th:href="@{/index/assets/css/demo.css}"  rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/index/assets/css/nucleo-icons.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragment/index/navbar :: navbar"></nav>

<!--Seach Tour-->


<!--Seach Tour-->


<footer th:replace="fragment/index/footer :: footer"></footer>
</body>
</html>